body {
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(255,73,146,1) 100%);
    font-family: 'Roboto', arial;
    padding: 0;
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
}

/* Navbar */
.navbar {
    display: flex;
    color: #F9FAF8;
    height: 80px;
    align-items: center;
}

.header-logo img {
    width: 200px;
    height: 84px;
    margin-right: auto;
    padding: 100px;
}

.header-link {
    display: flex;
    margin-left: auto;
    padding: 0px 220px 0px 0px;  
}

.header-link a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 50px;
    font-family: 'Roboto', arial;
}
/* Hero */

.hero {
    display: flex;
    color: #F9FAF8;
    align-items: left;
    justify-content: center;
    padding: 20px;
}

.hero-content {
    flex-basis: 800px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.hero-content p {
    font-family: 'Roboto', arial;
    opacity: 0.7;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
    font-family: 'Roboto', arial;
}

.hero button {
    display: block;
    text-align: center;
    width: 110px;
    background: #C72C41;
    border-color: #C72C41;
    padding: 10px;
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
}

.hero-image img {
    width: 500px;
    height: 350px;
    border-radius: 5%;
    filter: drop-shadow(10px 5px 10px #222222)
}

/* Content */

.content {
    align-items: center;
    color: #ffffff;
}

.content-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content-info img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 15%;
    margin: 5px 20px 0px 20px;
    filter: drop-shadow(10px 5px 10px #222222)
}

.content p {
    color: #ffffff;
}

/* Quotation Part */

.quote {
    display: flex;
    flex-direction: column;
    padding: 0 200px;
}

.quote p {
    font-size: 36px;
    color: #ffffff;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Roboto', arial;
}

.quote b {
    padding-bottom: 20px;
    padding-right: 10px;
    font-family: 'Roboto', arial;
    text-align: right;
    color: #ffffff;
}

/* Sign Up Part */

.sign-up {
    background-color: #ff4992;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    border-color: none;
    filter: drop-shadow(10px 5px 10px #222222)
}

.sign-item {
    flex: 1;
}

.signs-text {
    text-align: left;
}

.signs-text p {
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}

h3 {
    color: #fff;
    font-family: 'Roboto', arial;
    padding: 0;
    margin: 30px 0px 0px 50px;
}

.signs-button button {
    color: #fff;
    font-family: 'Roboto', arial;
    font-weight: bold;
    border-radius: 15%;
    background-color: #C72C41;
    padding: 5px 25px;
    font-size: 15px;
    border-color: #C72C41;
}

/* Footer */

.footer {
    color: #2D142C;
    font-family: 'Roboto', arial;
}